* text=auto eol=lf

# Include documentation, including README.md, in GitHub Linguist language statistics.
*.md linguist-detectable=true

*.dll binary
*.so binary
*.pdb binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
